<div id="BodyDefault" data-ng-if="!isHomepage() || !node.custom_homepage">
  <div id="PrivacyBadgeBox" data-ng-if="showPrivacyBadge()" data-ng-include="'views/partials/privacybadge.html'"></div>
  <div id="wrapper" data-ng-if="!embedded" data-ng-include="'views/partials/header.html'"></div>
  <div id="MessagesConsoleBox" data-ng-include="'views/partials/messageconsole.html'"></div>

  <div id="main" class="container-fluid" data-ng-view=""></div>

  <div id="wrapper" data-ng-show="!embedded" data-ng-include="'views/partials/footer.html'"></div>
</div>

<div id="BodyCustom" data-ng-if="isHomepage() && node.custom_homepage" data-ng-controller="HomeCtrl">
  <div data-ng-include="'static/custom_homepage.html'"></div>
</div>
