<footer class="it-footer">
  <div class="it-footer-small-prints clearfix">
    <div class="container container-offset-h">
      <div class="row">
        <div class="col-12">
          <div class="text-white text-center">{{node.footer}}</div>
          <div class="text-white text-center">
            <img style="max-width: 80px;" class="footer-logo" src="../../img/GlobaLeaks.png" />
            <div>Powered by <a href="https://www.globaleaks.org">Globaleaks</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
